@import './../typography/typography.css';

a {
    text-decoration: none;
    color: var(--text-primary);
}

a:hover {
    color: var(--text-secondary);
}

a custom-typography {
    color: inherit;
}

a custom-icon {
    color: var(--white);
}