@import './../typography/typography.css';

div {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 16px;
}

img {
    width: 38px;
    height: 51px;
    border-radius: 4px;
}

.light custom-typography {
    color: var(--text-primary);
}

.dark custom-typography {
    color: var(--black);
}

@media screen and (max-width: 576px) {
    img {
        width: 30px;
        height: 40px;
    }
}