@import './../icon/icon.css';
@import './../typography/typography.css';

.container {
    width: 100%;
    max-width: 1208px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 48px;
    padding: 24px;
    background-color: var(--black);
}

.container .project-image {
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    max-width: calc(100% - 24px - 24px);
    max-height: 420px;
    border-radius: 4px;
}

.container .project-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.container .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}

.container .content custom-typography[type='title'],
.container .content custom-typography[type='h2'],
.container .content custom-icon {
    color: var(--white);
}

.container .content custom-typography[type='p'] {
    color: var(--zinc-500);
}

.container .content custom-icon {
    cursor: pointer;
}

@media screen and (max-width: 576px) {
    .container {
        grid-template-columns: 1fr;
        grid-gap: 0;
        padding: 0;
        gap: 24px;
    }

    .container #project-image {
        width: 100%;
        max-width: unset;
        order: 1;
    }

    .container .content {
        order: 2;
    }
}