#about-me {
    padding-top: calc(4% + 100px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

#about-me #about-me-image {
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    max-width: 515px;
    max-height: 565px;
    border-radius: 4px;
}

#about-me img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#about-me #about-me-text {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

#about-me #about-me-text #about-me-title custom-typography[type="title"] {
    color: var(--text-primary);
}

#about-me #about-me-text custom-typography[type="p"] {
    color: var(--text-secondary);
}

@media screen and (max-width: 768px) {
    #about-me {
        grid-template-columns: 1fr;
        gap: 24px;
    }

    #about-me #about-me-image {
        width: 100%;
        max-height: 371px;
    }

    #about-me #about-me-text #about-me-title {
        margin-bottom: 0;
    }
}

@media screen and (min-width: 769px) and (max-width: 1400px) {
    #about-me {
        gap: 32px;
    }
}