#contact-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--black);
}

#contact-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 95%;
    max-width: 1400px;
    text-align: center;
    padding: 80px 24px;
    border-radius: 64px;
    background-color: var(--white);
}

#contact-actions {
    margin-top: 16px;
    display: flex;
    gap: 16px;
}

@media screen and (max-width: 768px) {
    #contact-content {
        width: 90%;
        padding: 60px 16px;
    }
}