footer {
    padding: 64px 5% 32px;
    display: flex;
    flex-direction: column;
    gap: 64px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: -1;
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.footer-left {
    flex: 1;
}

.footer-right {
    display: flex;
    gap: 80px;
}

.footer-column {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer-column custom-typography {
    color: var(--text-secondary);
}

.footer-column custom-a custom-typography {
    color: var(--text-primary);
}

.footer-column .footer-column-icons {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    cursor: pointer;
}

body.dark-mode .footer-column .footer-column-icons custom-icon {
    filter: brightness(0) invert(1);
}

body.light-mode .footer-column .footer-column-icons custom-icon {
    filter: none;
}

.footer-bottom {
    border-top: 1px solid var(--line-color);
    padding-top: 32px;
    display: flex;
    justify-content: center;
}

.footer-bottom custom-typography {
    color: var(--text-secondary);
}

footer custom-logo {
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        gap: 48px;
    }

    .footer-right {
        width: 100%;
        justify-content: space-between;
        gap: 32px;
    }
}

@media screen and (max-width: 480px) {
    .footer-right {
        flex-direction: column;
        gap: 32px;
    }
}