#intro {
    padding-top: calc(4% + 100px);
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    gap: 32px;
}

#intro #intro-content {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

#intro #intro-content custom-typography[type="p"] {
    color: var(--zinc-500);
}

#intro #intro-content #intro-titles {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

#intro #intro-content #intro-media {
    align-self: center;
    display: flex;
    flex-direction: row;
    gap: 48px;
}

#intro img {
    max-height: 400px;
    justify-self: center;
    border-radius: 4px;
}

@media screen and (max-width: 992px) {
    #intro {
        grid-template-columns: 1fr;
        gap: 24px;
    }

    #intro img {
        order: 1;
    }

    #intro #intro-content {
        order: 2;
    }

    #intro #intro-content #intro-titles #intro-name {
        display: flex;
        flex-direction: column;
    }
}