@import './about-me.css';
@import './cards.css';
@import './contact-me.css';
@import './footer.css';
@import './header.css';
@import './intro.css';
@import './toast.css';
@import './../custom-elements/modules.css';

body {
  margin: 0;
  background-color: var(--bg-primary);
}

main {
  position: relative;
  z-index: 1;
  border-radius: 0 0 32px 32px;
  background-color: var(--bg-primary);
}

section {
  padding: 4% 10%;
}